<h1>/home</h1>

<div class="big_text">
  <p>Hi,</p>
  <p>My name is <b>Baptiste Marchand</b>.</p>
  <p>I'm a French Software Developer passionate about computer graphics
  looking for an internship.</p>
  <p>
    Look at <a target="_blank" href="https://docs.google.com/file/d/0B_1U5geHv-iKUldLU2NlMzBtdEU/edit?usp=sharing">
      my résumé</a> or browse through <a href="/work">my projects</a>.
  </p>
  <p>
    You can find me on
    <a target="_blank" href="https://github.com/baptistemarchand">github</a>
    and <a target="_blank" href="https://bitbucket.org/bap">bitbucket</a>.
  </p>
</div>
