<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400|Roboto+Slab' rel='stylesheet' type='text/css'>
    <title>Baptiste Marchand</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/work.css">
  </head>
  <body>
    <div id="container">
      <div id="body">
        <%= yield %>
      </div>
      <footer><p>baptistemarchand42@gmail.com</p></footer>
    </div>
  </body>
</html>
