<h1>/work</h1>

<div class="grid">
  <h2>Windjammers 3D</h2>
  <div class="colx3">
    Windjammers 3D is a project I did for my
    Game Programming class at Konkuk University.
    It is a remake of the classic NeoGeo game
    <a href="http://en.wikipedia.org/wiki/Windjammers_(video_game)">Windjammers</a>
    in 3D using the Ogre3D framework.
    <img src="img/windjammers/original.jpg"/>
  </div>

  <div class="colx2">
    <ul>
      <li><b>Year:</b> 2013</li>
      <li><b>Language:</b> C++</li>
      <li><b>OS:</b> Linux/Windows/Mac OSX</li>
      <li><b>Tools:</b> Ogre3D, CEGUI, CMake</li>
      <li><b>Type:</b> School Project (Konkuk University)</li>
      <!-- <li><b>Code:</b> <a href="https://bitbucket.org/bap/windjammers3d">bitbucket.org/bap/windjammers3d</a></li> -->
    </ul>
  </div>
</div>

<div class="grid">
  <h2>EPITA Final Year Project: Ayotle</h2>

  <div class="colx3">
    For our final year project we helped
    <a href="http://www.ayotle.com">Ayotle</a>
    (a french start-up working on augmented reality and video processing)
    with the embbeded version of their object tactilization product (see company website).
    We created a custom Linux distribution for their mini-pc
    and implemented the data transfert with the client's computer via Sockets.
    <img src="img/ayotle/kinect.jpg"/>
  </div>

  <div class="colx2">
    <ul>
      <li><b>Year:</b> 2012</li>
      <li><b>Language:</b> C/C++</li>
      <li><b>OS:</b> Linux/Windows/Mac OSX</li>
      <li><b>Tools:</b> Socket, OpenCV, Kinect-like</li>
      <li><b>Type:</b> School/Professional Project</li>
    </ul>
  </div>
</div>

<div class="grid">
  <h2>Demoscene</h2>
  <div class="colx3">
    I love the
    <a href="http://en.wikipedia.org/wiki/Demoscene">demoscene</a>
    and computer graphics in general. I started many demos/intros
    but never had the time to finish them. This is one of them.
    It's a demo (no size constraints) and the music is not by me.
    I also worked on 4k intros to focus on size optimizations.
  </div>

  <div class="colx2">
    <ul>
      <li><b>Year:</b> 2012</li>
      <li><b>Languages:</b> C, bash</li>
      <li><b>OS:</b> Linux</li>
      <li><b>Tools:</b> OpenGL, SDL</li>
      <li><b>Type:</b> Personnal Project</li>
      <li><b>Code:</b> <a href="https://bitbucket.org/bap/demo">bitbucket.org/bap/demo</a></li>
    </ul>
  </div>
</div>

<div class="grid">
  <h2>NespreTron</h2>
  <div class="colx3">
    <p>
      Nespretron was my first real programming
      project during my first year at EPITA.
    </p>
    <p>
      It is a racing action game inspired by
      the TRON universe:
      <img src="img/nespretron/legacy.jpg"/>
      It is similar to <a href="www.gltron.org">GLtron</a>
      except that you can ride on the walls and the roof
      of the map.
    </p>
    <p>
      The game featured multiplayer via network, AI and
      stereoscopic 3D with red/green glasses.
    </p>
    <p>
      The final version of the game was presented
      at the Video Game festival in Paris:
      <img src="img/nespretron/festival.jpg"/>
    </p>
    <!--<p>
       Trailer from very early stages of development:
     <iframe src="http://player.vimeo.com/video/3324175?title=0&amp;byline=0&amp;portrait=0&amp;color=ff030b" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </p>-->
  </div>

  <div class="colx2">
    <ul>
      <li><b>Year:</b> 2009</li>
      <li><b>Language:</b> Delphi</li>
      <li><b>OS:</b> Windows</li>
      <li><b>Duration:</b> 1 year</li>
      <li><b>Tools:</b> OpenGL, Fmod, Subversion</li>
      <li><b>Type:</b> School Project (EPITA)</li>
    </ul>
  </div>
</div>

<div class="grid">
  <h2>K</h2>

  <div class="colx3">
    K is a micro-kernel built (almost) from scratch.
    More information on the
    <a href="http://k.lse.epita.fr/">project website</a>.
    <img src="img/k/ls.jpg" />
    <img src="img/k/fractal.jpg"/>
  </div>

  <div class="colx2">
    <ul>
      <li><b>Year:</b> 2011</li>
      <li><b>Language:</b> C, asm x86</li>
      <li><b>OS:</b> Linux</li>
      <li><b>Tools:</b> Qemu</li>
      <li><b>Type:</b> School Project (EPITA)</li>
      <li><b>Code:</b> Not public but available to recruiters on request</li>
    </ul>
  </div>
</div>


<div class="grid">
  <h2>More EPITA Projects</h2>
  <div class="colx1">
    <h3>CoreWar</h3>
    <p>
      <a href="http://en.wikipedia.org/wiki/Core_War">CoreWar</a>
      is a race game that takes place inside the computer's memory.
      Ships are written in a form of assembly language. We first
      did a competition to see who could code the best ship. Then
      we re-implemented the <em>virtual machine</em> in C++.
    </p>
    <h3>HTTPd</h3>
    <p>
      We coded a HTTP server in C and learnt about the internals
      of web browsers.
    </p>
  </div>
  <div class="colx1">
    <h3>Chess AI</h3>
    <p>
      We created a game where all students competed against each-other
      to create the best Chess AI in <em>C++</em>. We had to research the best
      <em>algorithms</em> and fastest data structures and implement them.
    </p>
    <h3>Drivers</h3>
    <p>
      My major was Embbeded And Real-time Systems so I developped some Linux
      drivers.
    </p>
  </div>
  <div class="colx1">
    <h3>Bash</h3>
    <p>
      42sh is one of the biggest project at EPITA. We have to implement
      a clone of the command-line interpreter bash. It uses
      many features of <em>C/Unix</em> (threads, fork, process management,
      pipes, signals, IPC etc). We also had to write a test suite in
      <em>Ruby</em>.
    </p>
    <h3>Data Compression</h3>
    <p>
      We discussed several data compression techniques and algorithmes for
      texts(LZW), images(JPEG) and videos(MPEG).
    </p>
  </div>
  <div class="colx1">
    <h3>Photoshop</h3>
    <p>
      We coded a simplified version of photoshop in <em>Java</em>. We used image
      processing techniques to implement various filters.
      The <em>user interface</em> was a big part of the project too.
    </p>
    <h3>OpenGL</h3>
    <p>
      We rendered a 3D terrain from a a randomly generated height map.
    </p>
  </div>
  <div class="colx1">
    <h3>Web 2.0</h3>
    <p>
      We had to create a web app that used a "Web 2.0" <em>API</em> in
      <em>Javascript</em>. I used reddit's API.
    </p>
    <h3>Video Tracking</h3>
    <p>
      We used OpenCV to track an object from a webcam video feed,
      and displayed the result with Qt.
    </p>
  </div>
</div>
