html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#info {
    width: 300px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 50px 0 0 50px;
    padding: 10px;
    font-family: "Arial";
    color: white;
}

#info a {
    color: white;
}

#c {
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
}