body {
    color: #222;
    background-color: #fafafa
}

#container {
   min-height:100%;
   position:relative;
}

#body {
   padding-bottom:60px;   /* Height of the footer */
}

b {
    font-weight: 700;
}

em {
    color: red;
}

a {
    color: #711;
}

h1 {
    font-size: 48px;
    font-family: courier;
    background-color: #222;
    color: #fafafa;
    margin-bottom: 50px;
}

.big_text {
    font: 400 20px 'Open Sans', sans-serif;
    width: 50%;
    margin: 100px auto;
}

.big_text p {
    margin: 10px 0;
}

footer {
    font: 400 16px 'Open Sans', sans-serif;
    color: #fafafa;
    background-color: #111;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
}

footer p {
    margin-top: 20px;
}

h2 {
    font: 400 30px 'Roboto Slab', serif;
    margin-bottom: 15px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
    margin: 20px;
    padding: 20px;
    font: 400 14px/1.4 'Open Sans', sans-serif;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.grid img {
    display: block;
    max-width: 100%;
    max-height: 300px;
    border: 1px solid #666;
    padding: 5px;
    margin: 10px 0;
}

.grid p {
    margin-bottom: 15px;
}

h3 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

[class*='colx'] {
  float: left;
  padding-right: 20px;
}

.colx1 {
  width: 20%;
}

.colx2 {
  width: 40%;
}

.colx3 {
  width: 60%;
  font-size: 16px;
}

[class*='colx']:last-of-type {
  padding-right: 0;
}
